force-app/main/default/flows/User_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_User_Inactive</name>
        <label>Is User Inactive?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_meetings</targetReference>
            </connector>
            <label>User is inactive</label>
        </rules>
    </decisions>
    <description>Creado para ms case 4849</description>
    <environments>Default</environments>
    <interviewLabel>User Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_inactive_user_s_meeting_recurrences</name>
        <label>Delete inactive user&apos;s  meeting recurrences</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>Get_meetings</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_meetings</name>
        <label>Get meetings</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_inactive_user_s_meeting_recurrences</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (1 and 4 and 5)</filterLogic>
        <filters>
            <field>RecurrenceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecurrenceStartDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LastLoginDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LastLoginDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_Inactive</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
